{
  "extends": "standard",
  "env": {
    "es6": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "no-unreachable": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "comma-dangle": [
      "error", {
        "objects": "always"
      }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}