
# vitabot stuff


*.db
*.pyc
.DS_Store
*.app
.svn
*~
site_media
*.tar.gz
*.swp
chromedriver.log
junit.xml

artifacts/*
staticfiles/*
build/
env/

.pytest_cache
.project
.pydevproject
atlassian-ide-plugin.xml
.idea
*.iml
*.ipynb
.ipynb_checkpoints
.vscode